MainServer/ManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getResult">
    <complexType>
     <sequence>
      <element name="election" type="xsd:string"/>
      <element name="area" type="xsd:string"/>
      <element name="can" type="xsd:string"/>
      <element name="voteNum" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultResponse">
    <complexType>
     <sequence>
      <element name="getResultReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystem">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystemResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSystemReturn" type="impl:Area"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Area">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="numOfVotesPerVoter" type="xsd:int"/>
     <element name="ranked" type="xsd:boolean"/>
     <element name="systemName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getRunningElection">
    <complexType/>
   </element>
   <element name="getRunningElectionResponse">
    <complexType>
     <sequence>
      <element name="getRunningElectionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystemElection">
    <complexType>
     <sequence>
      <element name="election" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystemElectionResponse">
    <complexType>
     <sequence>
      <element name="getSystemElectionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="endRunningElection">
    <complexType/>
   </element>
   <element name="endRunningElectionResponse">
    <complexType>
     <sequence>
      <element name="endRunningElectionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="setCurrentElection">
    <complexType>
     <sequence>
      <element name="electionName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setCurrentElectionResponse">
    <complexType>
     <sequence>
      <element name="setCurrentElectionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSavedElectionsNames">
    <complexType/>
   </element>
   <element name="getSavedElectionsNamesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSavedElectionsNamesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLastElectionCans">
    <complexType>
     <sequence>
      <element name="area" type="xsd:string"/>
      <element name="system" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLastElectionCansResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getLastElectionCansReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createNewElection">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="system" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createNewElectionResponse">
    <complexType>
     <sequence>
      <element name="createNewElectionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNewElectingSystem">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element maxOccurs="unbounded" name="areas" type="xsd:string"/>
      <element maxOccurs="unbounded" name="novpvs" type="xsd:int"/>
      <element maxOccurs="unbounded" name="areRanked" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNewElectingSystemResponse">
    <complexType>
     <sequence>
      <element name="setNewElectingSystemReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeElection">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeElectionResponse">
    <complexType>
     <sequence>
      <element name="removeElectionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCans">
    <complexType>
     <sequence>
      <element name="election" type="xsd:string"/>
      <element name="area" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCansResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCansReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeSystem">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeSystemResponse">
    <complexType>
     <sequence>
      <element name="removeSystemReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAreaInfo">
    <complexType>
     <sequence>
      <element name="area" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAreaInfoResponse">
    <complexType>
     <sequence>
      <element name="getAreaInfoReturn" type="impl:AreaInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AreaInfo">
    <sequence>
     <element name="area" nillable="true" type="xsd:string"/>
     <element name="canNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="electionName" nillable="true" type="xsd:string"/>
     <element name="numOfVotePerVoter" type="xsd:int"/>
     <element name="ranked" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="setCandidates">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="cans" type="xsd:string"/>
      <element name="electionName" type="xsd:string"/>
      <element name="area" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setCandidatesResponse">
    <complexType>
     <sequence>
      <element name="setCandidatesReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSavedSystems">
    <complexType/>
   </element>
   <element name="getSavedSystemsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSavedSystemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSavedElectionsNamesResponse">

      <wsdl:part element="impl:getSavedElectionsNamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeSystemResponse">

      <wsdl:part element="impl:removeSystemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRunningElectionRequest">

      <wsdl:part element="impl:getRunningElection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeElectionRequest">

      <wsdl:part element="impl:removeElection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNewElectingSystemRequest">

      <wsdl:part element="impl:setNewElectingSystem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeSystemRequest">

      <wsdl:part element="impl:removeSystem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLastElectionCansRequest">

      <wsdl:part element="impl:getLastElectionCans" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSystemRequest">

      <wsdl:part element="impl:getSystem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCandidatesRequest">

      <wsdl:part element="impl:setCandidates" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResultRequest">

      <wsdl:part element="impl:getResult" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCurrentElectionRequest">

      <wsdl:part element="impl:setCurrentElection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSavedElectionsNamesRequest">

      <wsdl:part element="impl:getSavedElectionsNames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRunningElectionResponse">

      <wsdl:part element="impl:getRunningElectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSavedSystemsRequest">

      <wsdl:part element="impl:getSavedSystems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSystemElectionRequest">

      <wsdl:part element="impl:getSystemElection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCandidatesResponse">

      <wsdl:part element="impl:setCandidatesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCurrentElectionResponse">

      <wsdl:part element="impl:setCurrentElectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getResultResponse">

      <wsdl:part element="impl:getResultResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="endRunningElectionRequest">

      <wsdl:part element="impl:endRunningElection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLastElectionCansResponse">

      <wsdl:part element="impl:getLastElectionCansResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSavedSystemsResponse">

      <wsdl:part element="impl:getSavedSystemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createNewElectionRequest">

      <wsdl:part element="impl:createNewElection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSystemElectionResponse">

      <wsdl:part element="impl:getSystemElectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNewElectingSystemResponse">

      <wsdl:part element="impl:setNewElectingSystemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCansResponse">

      <wsdl:part element="impl:getCansResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAreaInfoResponse">

      <wsdl:part element="impl:getAreaInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="endRunningElectionResponse">

      <wsdl:part element="impl:endRunningElectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAreaInfoRequest">

      <wsdl:part element="impl:getAreaInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSystemResponse">

      <wsdl:part element="impl:getSystemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeElectionResponse">

      <wsdl:part element="impl:removeElectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createNewElectionResponse">

      <wsdl:part element="impl:createNewElectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCansRequest">

      <wsdl:part element="impl:getCans" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ManagerService">

      <wsdl:operation name="getResult">

         <wsdl:input message="impl:getResultRequest" name="getResultRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResultResponse" name="getResultResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSystem">

         <wsdl:input message="impl:getSystemRequest" name="getSystemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSystemResponse" name="getSystemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRunningElection">

         <wsdl:input message="impl:getRunningElectionRequest" name="getRunningElectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRunningElectionResponse" name="getRunningElectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSystemElection">

         <wsdl:input message="impl:getSystemElectionRequest" name="getSystemElectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSystemElectionResponse" name="getSystemElectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="endRunningElection">

         <wsdl:input message="impl:endRunningElectionRequest" name="endRunningElectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:endRunningElectionResponse" name="endRunningElectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCurrentElection">

         <wsdl:input message="impl:setCurrentElectionRequest" name="setCurrentElectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:setCurrentElectionResponse" name="setCurrentElectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSavedElectionsNames">

         <wsdl:input message="impl:getSavedElectionsNamesRequest" name="getSavedElectionsNamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSavedElectionsNamesResponse" name="getSavedElectionsNamesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLastElectionCans">

         <wsdl:input message="impl:getLastElectionCansRequest" name="getLastElectionCansRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLastElectionCansResponse" name="getLastElectionCansResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createNewElection">

         <wsdl:input message="impl:createNewElectionRequest" name="createNewElectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:createNewElectionResponse" name="createNewElectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNewElectingSystem">

         <wsdl:input message="impl:setNewElectingSystemRequest" name="setNewElectingSystemRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNewElectingSystemResponse" name="setNewElectingSystemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeElection">

         <wsdl:input message="impl:removeElectionRequest" name="removeElectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeElectionResponse" name="removeElectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCans">

         <wsdl:input message="impl:getCansRequest" name="getCansRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCansResponse" name="getCansResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeSystem">

         <wsdl:input message="impl:removeSystemRequest" name="removeSystemRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeSystemResponse" name="removeSystemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAreaInfo">

         <wsdl:input message="impl:getAreaInfoRequest" name="getAreaInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAreaInfoResponse" name="getAreaInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCandidates">

         <wsdl:input message="impl:setCandidatesRequest" name="setCandidatesRequest">

       </wsdl:input>

         <wsdl:output message="impl:setCandidatesResponse" name="setCandidatesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSavedSystems">

         <wsdl:input message="impl:getSavedSystemsRequest" name="getSavedSystemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSavedSystemsResponse" name="getSavedSystemsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManagerServiceSoapBinding" type="impl:ManagerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResult">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSystem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSystemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSystemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRunningElection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRunningElectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRunningElectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSystemElection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSystemElectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSystemElectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="endRunningElection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="endRunningElectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="endRunningElectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCurrentElection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCurrentElectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setCurrentElectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSavedElectionsNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSavedElectionsNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSavedElectionsNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLastElectionCans">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastElectionCansRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLastElectionCansResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createNewElection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createNewElectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createNewElectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNewElectingSystem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNewElectingSystemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNewElectingSystemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeElection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeElectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeElectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCans">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCansRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCansResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeSystem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeSystemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeSystemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAreaInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAreaInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAreaInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCandidates">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCandidatesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setCandidatesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSavedSystems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSavedSystemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSavedSystemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManagerServiceService">

      <wsdl:port binding="impl:ManagerServiceSoapBinding" name="ManagerService">

         <wsdlsoap:address location="http://localhost:8080/Project-_Main_Server/services/ManagerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
