MainServer/PollingStationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateResults">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="election" type="xsd:string"/>
      <element name="area" type="xsd:string"/>
      <element maxOccurs="unbounded" name="votes" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResultsResponse">
    <complexType>
     <sequence>
      <element name="updateResultsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAreaInfo">
    <complexType>
     <sequence>
      <element name="area" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAreaInfoResponse">
    <complexType>
     <sequence>
      <element name="getAreaInfoReturn" type="impl:AreaInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AreaInfo">
    <sequence>
     <element name="area" nillable="true" type="xsd:string"/>
     <element name="canNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="electionName" nillable="true" type="xsd:string"/>
     <element name="numOfVotePerVoter" type="xsd:int"/>
     <element name="ranked" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateResultsResponse">

      <wsdl:part element="impl:updateResultsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAreaInfoRequest">

      <wsdl:part element="impl:getAreaInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResultsRequest">

      <wsdl:part element="impl:updateResults" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAreaInfoResponse">

      <wsdl:part element="impl:getAreaInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PollingStationService">

      <wsdl:operation name="updateResults">

         <wsdl:input message="impl:updateResultsRequest" name="updateResultsRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResultsResponse" name="updateResultsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAreaInfo">

         <wsdl:input message="impl:getAreaInfoRequest" name="getAreaInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAreaInfoResponse" name="getAreaInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PollingStationServiceSoapBinding" type="impl:PollingStationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateResultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAreaInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAreaInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAreaInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PollingStationServiceService">

      <wsdl:port binding="impl:PollingStationServiceSoapBinding" name="PollingStationService">

         <wsdlsoap:address location="http://localhost:8080/Project-_Main_Server/services/PollingStationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
